<div class="">
  <p>
    Shut your filthy mouth, I'm not that kind of girl. Indeed I will, roll em. I, Doctor Emmett Brown, am about to embark on an historic journey. What have I been thinking of, I almost forgot to bring some extra plutonium. How did I ever expect to get back, one pallet one trip I must be out of my mind. What is it Einy? Oh my god, they found me, I don't know how but they found me. Run for it, Marty. Remember, fellas, the future is in your hands. If you believe in progress, re-elect Mayor Red Thomas, progress is his middle name. Mayor Red Thomas's progress platform means more jobs, better education, bigger civic improvements, and lower taxes. On election day, cast your vote for a proven leader, re-elect Mayor Red Thomas... What the hell is this? Not a word, not a word, not a word now. Quiet, uh, donations, you want me to make a donation to the coast guard youth auxiliary?

    Huh? It's about the future, isn't it? Leave her alone, you bastard. Erased from existence. Sit here, Marty.

     Doc, wait. No, bastards. Who is that guy. Lorraine. Now, of course not, Biff, now, I wouldn't want that to happen. It works, ha ha ha ha, it works. I finally invent something that works.
</p>
</div>
