
<h2>Sets and Individual Pieces</h2>
<div class="container-fluid">
   <div class="col-sm-4 thumbnail" ng-repeat="product in products">

     <a ui-sref="product({ id:product.productid })">
       <img ng-src="{{product.productimage}}">
       </a>

       <div class="caption">
         <p>{{ product.productdescription }}</p>
         <button type="button" name="button" class="button" onclick="sweetAlert('Hot Coffee!', 'Item added to cart', 'success');" ng-click="addToCart(product); calcTotal(cart)">ADD TO CART</button>
       </div>

   </div>
 </div>
